USE [master]
GO
/****** Object:  Database [ispp3114]    Script Date: 16.10.2025 11:50:36 ******/
CREATE DATABASE [ispp3114]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ispp3114', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp3114.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ispp3114_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL\MSSQL\DATA\ispp3114_log.ldf' , SIZE = 2304KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ispp3114].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ispp3114]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedCategory]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedCategory](
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DeletedCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeleteVisitor]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeleteVisitor](
	[VisitorId] [int] NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Birthday] [datetime2](7) NULL,
	[Email] [varchar](150) NOT NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailChange]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailChange](
	[VisitorId] [int] NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[ChangingDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](16, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[KeysAmout] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamePrice]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamePrice](
	[GameId] [int] NOT NULL,
	[OldPrice] [decimal](16, 2) NOT NULL,
	[ChangingDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hall]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hall](
	[HallId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Cinema] [nvarchar](50) NOT NULL,
	[HallNumber] [tinyint] NOT NULL,
	[RowsNumber] [tinyint] NOT NULL,
	[SeatsNumber] [tinyint] NOT NULL,
	[IsVip] [bit] NOT NULL,
 CONSTRAINT [PK_Hall] PRIMARY KEY CLUSTERED 
(
	[HallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Duration] [smallint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Poster] [varbinary](max) NULL,
	[AgeRating] [varchar](10) NULL,
	[ReleaseBegin] [date] NULL,
	[DistributionEnd] [date] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenre]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenre](
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_MovieGenre] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[KeysAmount] [smallint] NOT NULL,
	[SaleDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[HallId] [tinyint] NOT NULL,
	[Price] [decimal](4, 0) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[Is3d] [bit] NOT NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[VisitorId] [int] NOT NULL,
	[SessionId] [int] NOT NULL,
	[Row] [tinyint] NOT NULL,
	[Seat] [tinyint] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitor]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitor](
	[VisitorId] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Birthday] [datetime2](7) NULL,
	[Email] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Visitor_1] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016082711_InitialCreate', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016082858_AddDescriptionToCategory', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name], [Description]) VALUES (1, N'', NULL)
INSERT [dbo].[Category] ([CategoryId], [Name], [Description]) VALUES (2, N'', NULL)
INSERT [dbo].[Category] ([CategoryId], [Name], [Description]) VALUES (3, N'', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[DeleteVisitor] ([VisitorId], [Phone], [Name], [Birthday], [Email], [DeletedDate], [Login]) VALUES (8, N'89009626459', N'Матвей Матвеевич Матвеев', CAST(N'2007-12-03T00:00:00.0000000' AS DateTime2), N'Motya@gmail.ru', CAST(N'2025-09-26T09:38:59.7233333' AS DateTime2), N'ispp3114')
INSERT [dbo].[DeleteVisitor] ([VisitorId], [Phone], [Name], [Birthday], [Email], [DeletedDate], [Login]) VALUES (6, N'89009135674', N'Кирилл Кириллович Андреевич', CAST(N'2007-06-23T00:00:00.0000000' AS DateTime2), N'Kirill3@gmail.com', CAST(N'2025-09-26T09:44:29.6866667' AS DateTime2), N'ispp3114')
INSERT [dbo].[DeleteVisitor] ([VisitorId], [Phone], [Name], [Birthday], [Email], [DeletedDate], [Login]) VALUES (9, N'89006004321', N'John Doe', CAST(N'2025-10-09T13:25:31.6707007' AS DateTime2), N'johndoe@mail.com', CAST(N'2025-10-09T13:29:46.9766667' AS DateTime2), N'ispp3114')
GO
INSERT [dbo].[EmailChange] ([VisitorId], [Email], [ChangingDate]) VALUES (6, N'Kirill@gmail.com', CAST(N'2025-09-26T09:07:20.8233333' AS DateTime2))
INSERT [dbo].[EmailChange] ([VisitorId], [Email], [ChangingDate]) VALUES (4, N'Sergey@gmail.com', CAST(N'2025-09-26T09:15:27.4900000' AS DateTime2))
INSERT [dbo].[EmailChange] ([VisitorId], [Email], [ChangingDate]) VALUES (6, N'Kirill2@gmail.com', CAST(N'2025-09-26T09:44:00.2700000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDeleted], [KeysAmout]) VALUES (1, 1, N'SimCity', CAST(1532.00 AS Decimal(16, 2)), N'Градостроительный симулятор снова с вами! Создайте город своей мечты', 0, 95)
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDeleted], [KeysAmout]) VALUES (2, 2, N'TITANFALL', CAST(232.00 AS Decimal(16, 2)), N'Эта игра перенесет вас во вселенную, где малое противопоставляется большому, природа – индустрии, а человек – машине', 0, 75)
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDeleted], [KeysAmout]) VALUES (3, 2, N'Battlefield 4', CAST(9130.40 AS Decimal(16, 2)), N'Battlefield 4 – это определяющий для жанра, полный экшена боевик, известный своей разрушаемостью, равных которой нет', 0, 75)
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (4, CAST(17.00 AS Decimal(16, 2)), CAST(N'2025-09-24T11:35:03.7366667' AS DateTime2))
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (3, CAST(901.40 AS Decimal(16, 2)), CAST(N'2025-09-24T11:35:03.7366667' AS DateTime2))
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (2, CAST(2301.00 AS Decimal(16, 2)), CAST(N'2025-09-24T11:35:03.7366667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (1, N'Фантатика')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (2, N'Драма')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (3, N'Детектив')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Hall] ON 

INSERT [dbo].[Hall] ([HallId], [Cinema], [HallNumber], [RowsNumber], [SeatsNumber], [IsVip]) VALUES (1, N'Русь', 2, 5, 15, 0)
INSERT [dbo].[Hall] ([HallId], [Cinema], [HallNumber], [RowsNumber], [SeatsNumber], [IsVip]) VALUES (3, N'Титан-арена', 4, 17, 15, 1)
INSERT [dbo].[Hall] ([HallId], [Cinema], [HallNumber], [RowsNumber], [SeatsNumber], [IsVip]) VALUES (4, N'Макси', 3, 12, 14, 0)
SET IDENTITY_INSERT [dbo].[Hall] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieId], [Name], [Duration], [Year], [Description], [Poster], [AgeRating], [ReleaseBegin], [DistributionEnd], [IsDeleted]) VALUES (7, N'Терминатор 2: Судный день', 137, 1991, N'Прошло более десяти лет с тех пор, как киборг из 2029 года пытался уничтожить Сару Коннор — женщину, чей будущий сын выиграет войну человечества против машин.', NULL, N'18+', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleId], [GameId], [KeysAmount], [SaleDate]) VALUES (1, 1, 5, CAST(N'2025-09-25T13:12:22.4933333' AS DateTime2))
INSERT [dbo].[Sale] ([SaleId], [GameId], [KeysAmount], [SaleDate]) VALUES (3, 2, 90, CAST(N'2025-09-25T13:58:12.2566667' AS DateTime2))
INSERT [dbo].[Sale] ([SaleId], [GameId], [KeysAmount], [SaleDate]) VALUES (4, 6, 56, CAST(N'2025-09-25T14:08:56.9600000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([SessionId], [MovieId], [HallId], [Price], [StartDate], [Is3d]) VALUES (1, 1, 1, CAST(2000 AS Decimal(4, 0)), CAST(N'2025-09-26T10:08:30.0566667' AS DateTime2), 0)
INSERT [dbo].[Session] ([SessionId], [MovieId], [HallId], [Price], [StartDate], [Is3d]) VALUES (2, 2, 3, CAST(100 AS Decimal(4, 0)), CAST(N'2025-09-26T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Session] ([SessionId], [MovieId], [HallId], [Price], [StartDate], [Is3d]) VALUES (3, 2, 4, CAST(1000 AS Decimal(4, 0)), CAST(N'2025-10-04T00:00:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketId], [VisitorId], [SessionId], [Row], [Seat]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[Ticket] ([TicketId], [VisitorId], [SessionId], [Row], [Seat]) VALUES (6, 1, 1, 7, 7)
INSERT [dbo].[Ticket] ([TicketId], [VisitorId], [SessionId], [Row], [Seat]) VALUES (7, 4, 2, 5, 3)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitor] ON 

INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [Birthday], [Email]) VALUES (1, N'89009142564', N'Иванов Иван Иванович', CAST(N'2003-03-13T00:00:00.0000000' AS DateTime2), N'Ivan@mail.ru')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [Birthday], [Email]) VALUES (4, N'89009134563', N'Сергей Сергеевич Сергеев', CAST(N'2004-02-12T00:00:00.0000000' AS DateTime2), N'Sergey1@gmail.com')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [Birthday], [Email]) VALUES (7, N'89009154678', N'Артём Артёмович Артёмов', CAST(N'2002-04-21T00:00:00.0000000' AS DateTime2), N'Artem@mail.ru')
SET IDENTITY_INSERT [dbo].[Visitor] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Hall_Cinema_HallNumber]    Script Date: 16.10.2025 11:50:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Hall_Cinema_HallNumber] ON [dbo].[Hall]
(
	[Cinema] ASC,
	[HallNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Ticket_SessionId_Row_Seat]    Script Date: 16.10.2025 11:50:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Ticket_SessionId_Row_Seat] ON [dbo].[Ticket]
(
	[SessionId] ASC,
	[Row] ASC,
	[Seat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Visitor_Phone]    Script Date: 16.10.2025 11:50:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Visitor_Phone] ON [dbo].[Visitor]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_DeletedDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[DeleteVisitor] ADD  CONSTRAINT [DF_DeleteVisitor_DeleteDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeleteVisitor] ADD  CONSTRAINT [DF_DeleteVisitor_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[EmailChange] ADD  CONSTRAINT [DF_EmailChange_ChangingDate]  DEFAULT (getdate()) FOR [ChangingDate]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_KeysAmout]  DEFAULT ((100)) FOR [KeysAmout]
GO
ALTER TABLE [dbo].[GamePrice] ADD  CONSTRAINT [DF_GamePrice_ChangindDate]  DEFAULT (getdate()) FOR [ChangingDate]
GO
ALTER TABLE [dbo].[Hall] ADD  CONSTRAINT [DF_Hall_Cinema]  DEFAULT (N'Макси') FOR [Cinema]
GO
ALTER TABLE [dbo].[Hall] ADD  CONSTRAINT [DF_Hall_IsVIP]  DEFAULT ((0)) FOR [IsVip]
GO
ALTER TABLE [dbo].[Movie] ADD  CONSTRAINT [DF_Movie_Duration]  DEFAULT ((90)) FOR [Duration]
GO
ALTER TABLE [dbo].[Movie] ADD  CONSTRAINT [DF_Movie_Year]  DEFAULT (datepart(year,getdate())) FOR [Year]
GO
ALTER TABLE [dbo].[Movie] ADD  CONSTRAINT [DF_Movie_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Sale] ADD  CONSTRAINT [DF_Sale_KeysAmount]  DEFAULT ((1)) FOR [KeysAmount]
GO
ALTER TABLE [dbo].[Sale] ADD  CONSTRAINT [DF_Sale_SaleDate]  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Price]  DEFAULT ((200)) FOR [Price]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Date]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Is3D]  DEFAULT ((0)) FOR [Is3d]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Category]
GO
ALTER TABLE [dbo].[GamePrice]  WITH CHECK ADD  CONSTRAINT [FK_GamePrice_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[GamePrice] CHECK CONSTRAINT [FK_GamePrice_Game]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenry_Genry1] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([GenreId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenry_Genry1]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenry_Movie1] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([MovieId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenry_Movie1]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Game]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Hall] FOREIGN KEY([HallId])
REFERENCES [dbo].[Hall] ([HallId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Hall]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Movie] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([MovieId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Movie]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Session1] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Session1]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Visitor1] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitor] ([VisitorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Visitor1]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [CK_Hall_Cinema] CHECK  (([Cinema]='Макси' OR [Cinema]='Титан-арена' OR [Cinema]='Русь'))
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [CK_Hall_Cinema]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [CK_Hall_RowsNumber] CHECK  (([RowsNumber]>=(5) AND [RowsNumber]<=(30)))
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [CK_Hall_RowsNumber]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [CK_Hall_SeatsNumber] CHECK  (([SeatsNumber]>=(5) AND [SeatsNumber]<=(30)))
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [CK_Hall_SeatsNumber]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Row] CHECK  (([Row]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Row]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Seat] CHECK  (([Seat]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Seat]
GO
/****** Object:  Trigger [dbo].[TrSaveCategory]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveCategory]
	ON [dbo].[Category]
	AFTER DELETE
	AS
		INSERT INTO DeletedCategory(CategoryId, [Name])
		SELECT CategoryId, [Name]
		FROM deleted;
GO
ALTER TABLE [dbo].[Category] DISABLE TRIGGER [TrSaveCategory]
GO
/****** Object:  Trigger [dbo].[TrChangePrice]    Script Date: 16.10.2025 11:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrChangePrice]
ON [dbo].[Game]
AFTER UPDATE
AS
  IF UPDATE(Price)
    IF EXISTS (SELECT * 
	           FROM inserted i
			     JOIN deleted d ON i.GameId=d.GameId
			   WHERE i.Price < d.Price)
		THROW 50000, 'Нельзя уменьшать цену', 1;	
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrChangePrice]
GO
/****** Object:  Trigger [dbo].[TrDeleteGame]    Script Date: 16.10.2025 11:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrDeleteGame]
    ON [dbo].[Game]
    INSTEAD OF DELETE
    AS
	  UPDATE Game
	  SET IsDeleted=1
	  Where GameId IN (SELECT GameId
						FROM deleted)
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrDeleteGame]
GO
/****** Object:  Trigger [dbo].[TrGamesRowsCount]    Script Date: 16.10.2025 11:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrGamesRowsCount]
    ON [dbo].[Game]
    FOR DELETE, INSERT, UPDATE
    AS
      PRINT 'Количество измененных строк: ' + CAST (@@ROWCOUNT AS VARCHAR(10))
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrGamesRowsCount]
GO
/****** Object:  Trigger [dbo].[TrigGamesRowsCount]    Script Date: 16.10.2025 11:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TrigGamesRowsCount]
    ON [dbo].[Game]
    AFTER DELETE, INSERT, UPDATE
    AS
	Print 'Количество измененных строк: '+ cast(@@ROWCOUNT AS VARCHAR(10))

GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrigGamesRowsCount]
GO
/****** Object:  Trigger [dbo].[TrSavePrice]    Script Date: 16.10.2025 11:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSavePrice]
    ON [dbo].[Game]
    AFTER UPDATE
    AS
	  IF UPDATE(Price)
	    INSERT INTO GamePrice(GameId, OldPrice)
	    SELECT GameId, Price
	    FROM deleted;
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrSavePrice]
GO
/****** Object:  Trigger [dbo].[TrDeleteMovie]    Script Date: 16.10.2025 11:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrDeleteMovie]
    ON [dbo].[Movie]
    INSTEAD OF DELETE
    AS
    UPDATE Movie
	SET IsDeleted = 1
	WHERE MovieId IN(SELECT MovieId
					FROM deleted)
GO
ALTER TABLE [dbo].[Movie] DISABLE TRIGGER [TrDeleteMovie]
GO
/****** Object:  Trigger [dbo].[TrAddSale]    Script Date: 16.10.2025 11:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSale]
ON [dbo].[Sale]
AFTER INSERT
AS
    UPDATE Game 
	SET KeysAmout -= inserted.KeysAmount
	FROM Game
	  JOIN inserted ON Game.GameId = inserted.GameId;
GO
ALTER TABLE [dbo].[Sale] DISABLE TRIGGER [TrAddSale]
GO
/****** Object:  Trigger [dbo].[TrAddSaleWithCheck]    Script Date: 16.10.2025 11:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSaleWithCheck]
ON [dbo].[Sale]
AFTER INSERT
AS
BEGIN
    -- объявление переменных
    DECLARE @gamesKeys SMALLINT;
    DECLARE @salesKeys SMALLINT;
	-- присваивание значений
	SELECT @gamesKeys=g.KeysAmout, @salesKeys=i.KeysAmount
	FROM Game g JOIN inserted i ON g.GameId=i.GameId; 

	IF (@gamesKeys < @salesKeys)
	  THROW 50001, 'недостаточно ключей игры', 1
	ELSE
      UPDATE Game
      SET KeysAmout -= inserted.KeysAmount
	  FROM Game JOIN inserted ON Game.GameId=inserted.GameId;
END
GO
ALTER TABLE [dbo].[Sale] DISABLE TRIGGER [TrAddSaleWithCheck]
GO
/****** Object:  Trigger [dbo].[TrAddSaleWithCheck2]    Script Date: 16.10.2025 11:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSaleWithCheck2]
ON [dbo].[Sale]
INSTEAD OF INSERT
AS
BEGIN
    -- объявление переменных
    DECLARE @gamesKeys SMALLINT;
    DECLARE @salesKeys SMALLINT;
	-- присваивание значений
	SELECT @gamesKeys=g.KeysAmout, @salesKeys=i.KeysAmount
	FROM Game g JOIN inserted i ON g.GameId=i.GameId; 

	IF (@gamesKeys < @salesKeys)
	  THROW 50001, 'недостаточно ключей игры', 1
	ELSE
	BEGIN
	  INSERT INTO Sale(GameId, KeysAmount)
	  SELECT GameId, KeysAmount
	  FROM inserted

      UPDATE Game
      SET KeysAmout -= inserted.KeysAmount
	  FROM Game JOIN inserted ON Game.GameId=inserted.GameId;
	END
END
GO
ALTER TABLE [dbo].[Sale] ENABLE TRIGGER [TrAddSaleWithCheck2]
GO
/****** Object:  Trigger [dbo].[TrChangedPrice]    Script Date: 16.10.2025 11:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrChangedPrice]
    ON [dbo].[Session]
    INSTEAD OF INSERT
    AS
		INSERT INTO Session (MovieId, HallId, Price, StartDate, Is3d)
		SELECT
			MovieId, HallId,
			CASE
				WHEN Price < 100 THEN 100
				ELSE Price
				END,
			StartDate, Is3d
		FROM inserted;
GO
ALTER TABLE [dbo].[Session] ENABLE TRIGGER [TrChangedPrice]
GO
/****** Object:  Trigger [dbo].[TrSaveChangedEmail]    Script Date: 16.10.2025 11:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveChangedEmail]
    ON [dbo].[Visitor]
    AFTER UPDATE
    AS
    IF UPDATE(Email)
		INSERT INTO EmailChange(VisitorId, Email)
		SELECT VisitorId, Email
		FROM deleted
GO
ALTER TABLE [dbo].[Visitor] ENABLE TRIGGER [TrSaveChangedEmail]
GO
/****** Object:  Trigger [dbo].[TrSaveVisitor]    Script Date: 16.10.2025 11:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveVisitor]
    ON [dbo].[Visitor]
    AFTER DELETE
    AS
    INSERT INTO DeleteVisitor(VisitorId, Phone, [Name], Birthday, Email)
	SELECT *
	FROM deleted;
GO
ALTER TABLE [dbo].[Visitor] ENABLE TRIGGER [TrSaveVisitor]
GO
USE [master]
GO
