USE [ispp3114]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaPrivilege]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaPrivilege](
	[PrivilegeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_CinemaPrivilege] PRIMARY KEY CLUSTERED 
(
	[PrivilegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaRolePrivilege]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaRolePrivilege](
	[PrivilegeId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_CinemaRolePrivilege] PRIMARY KEY CLUSTERED 
(
	[PrivilegeId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaUser]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[HashPassword] [nvarchar](200) NOT NULL,
	[FailedLoginAttempts] [smallint] NOT NULL,
	[LockedUntil] [datetime2](7) NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_CinemaUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaUserRole]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaUserRole](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CinemaUserRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeleteVisitor]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeleteVisitor](
	[VisitorId] [int] NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Birthday] [datetime2](7) NULL,
	[Email] [varchar](150) NOT NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailChange]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailChange](
	[VisitorId] [int] NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[ChangingDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](16, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[KeysAmout] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamePrice]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamePrice](
	[GameId] [int] NOT NULL,
	[OldPrice] [decimal](16, 2) NOT NULL,
	[ChangingDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hall]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hall](
	[HallId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Cinema] [nvarchar](50) NOT NULL,
	[HallNumber] [tinyint] NOT NULL,
	[RowsNumber] [tinyint] NOT NULL,
	[SeatsNumber] [tinyint] NOT NULL,
	[IsVip] [bit] NOT NULL,
 CONSTRAINT [PK_Hall] PRIMARY KEY CLUSTERED 
(
	[HallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Duration] [smallint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Poster] [varbinary](max) NULL,
	[AgeRating] [varchar](10) NULL,
	[ReleaseBegin] [date] NULL,
	[DistributionEnd] [date] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenre]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenre](
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_MovieGenre] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[KeysAmount] [smallint] NOT NULL,
	[SaleDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[HallId] [tinyint] NOT NULL,
	[Price] [decimal](4, 0) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[Is3d] [bit] NOT NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[VisitorId] [int] NOT NULL,
	[SessionId] [int] NOT NULL,
	[Row] [tinyint] NOT NULL,
	[Seat] [tinyint] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitor]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitor](
	[VisitorId] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [char](11) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Birthday] [datetime2](7) NULL,
	[Email] [varchar](150) NULL,
 CONSTRAINT [PK_Visitor_1] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CinemaPrivilege] ON 

INSERT [dbo].[CinemaPrivilege] ([PrivilegeId], [Name]) VALUES (1, N'доступ в личный кабинет')
INSERT [dbo].[CinemaPrivilege] ([PrivilegeId], [Name]) VALUES (2, N'проверка билетов')
INSERT [dbo].[CinemaPrivilege] ([PrivilegeId], [Name]) VALUES (3, N'просмотр списка фильмов')
SET IDENTITY_INSERT [dbo].[CinemaPrivilege] OFF
GO
INSERT [dbo].[CinemaRolePrivilege] ([PrivilegeId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[CinemaRolePrivilege] ([PrivilegeId], [RoleId]) VALUES (1, 2)
INSERT [dbo].[CinemaRolePrivilege] ([PrivilegeId], [RoleId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[CinemaUser] ON 

INSERT [dbo].[CinemaUser] ([UserId], [Login], [HashPassword], [FailedLoginAttempts], [LockedUntil], [RoleId]) VALUES (1, N'user1', N'1IAgAsVe98C+vRRkbQ3EAHu4Wy17OWqiV8Xp715FnQbyv4EzSE2/bqAz8Usr/BXf', 0, NULL, 2)
INSERT [dbo].[CinemaUser] ([UserId], [Login], [HashPassword], [FailedLoginAttempts], [LockedUntil], [RoleId]) VALUES (3, N'admin', N'pzxmI98JPB41eByPjcYbs3g88B1ue6TdK3Sn7MARqmriSsvm+GDPk6+LvxJuZI+n', 0, NULL, 1)
INSERT [dbo].[CinemaUser] ([UserId], [Login], [HashPassword], [FailedLoginAttempts], [LockedUntil], [RoleId]) VALUES (4, N'user2', N'p9/bTa6KZkNhDk1H5rzeF3se+EnHDIu8ZQpfNOUxeIbAME7aHUnOa9UV7IizV4A6', 0, NULL, 2)
SET IDENTITY_INSERT [dbo].[CinemaUser] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaUserRole] ON 

INSERT [dbo].[CinemaUserRole] ([RoleId], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[CinemaUserRole] ([RoleId], [Name]) VALUES (2, N'Билетер')
INSERT [dbo].[CinemaUserRole] ([RoleId], [Name]) VALUES (3, N'Посетитель')
SET IDENTITY_INSERT [dbo].[CinemaUserRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Hall] ON 

INSERT [dbo].[Hall] ([HallId], [Cinema], [HallNumber], [RowsNumber], [SeatsNumber], [IsVip]) VALUES (6, N'Титан-арена', 1, 7, 8, 0)
SET IDENTITY_INSERT [dbo].[Hall] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieId], [Name], [Duration], [Year], [Description], [Poster], [AgeRating], [ReleaseBegin], [DistributionEnd], [IsDeleted]) VALUES (1, N'sdfsf', 1, 2024, NULL, NULL, N'18+', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([SessionId], [MovieId], [HallId], [Price], [StartDate], [Is3d]) VALUES (2, 1, 6, CAST(2000 AS Decimal(4, 0)), CAST(N'2025-11-24T17:28:39.5566667' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketId], [VisitorId], [SessionId], [Row], [Seat]) VALUES (1, 1, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitor] ON 

INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [Birthday], [Email]) VALUES (1, N'89009523245', N'fdfdsf', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Visitor] OFF
GO
ALTER TABLE [dbo].[CinemaUser] ADD  CONSTRAINT [DF_CinemaUser_FailedLoginAttempts]  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[DeleteVisitor] ADD  CONSTRAINT [DF_DeleteVisitor_DeleteDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeleteVisitor] ADD  CONSTRAINT [DF_DeleteVisitor_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[EmailChange] ADD  CONSTRAINT [DF_EmailChange_ChangingDate]  DEFAULT (getdate()) FOR [ChangingDate]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_KeysAmout]  DEFAULT ((100)) FOR [KeysAmout]
GO
ALTER TABLE [dbo].[GamePrice] ADD  CONSTRAINT [DF_GamePrice_ChangindDate]  DEFAULT (getdate()) FOR [ChangingDate]
GO
ALTER TABLE [dbo].[Hall] ADD  CONSTRAINT [DF_Hall_Cinema]  DEFAULT (N'Макси') FOR [Cinema]
GO
ALTER TABLE [dbo].[Hall] ADD  CONSTRAINT [DF_Hall_IsVIP]  DEFAULT ((0)) FOR [IsVip]
GO
ALTER TABLE [dbo].[Movie] ADD  CONSTRAINT [DF_Movie_Duration]  DEFAULT ((90)) FOR [Duration]
GO
ALTER TABLE [dbo].[Movie] ADD  CONSTRAINT [DF_Movie_Year]  DEFAULT (datepart(year,getdate())) FOR [Year]
GO
ALTER TABLE [dbo].[Movie] ADD  CONSTRAINT [DF_Movie_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Sale] ADD  CONSTRAINT [DF_Sale_KeysAmount]  DEFAULT ((1)) FOR [KeysAmount]
GO
ALTER TABLE [dbo].[Sale] ADD  CONSTRAINT [DF_Sale_SaleDate]  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Price]  DEFAULT ((200)) FOR [Price]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Date]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Is3D]  DEFAULT ((0)) FOR [Is3d]
GO
ALTER TABLE [dbo].[CinemaRolePrivilege]  WITH CHECK ADD  CONSTRAINT [FK_CinemaRolePrivilege_CinemaPrivilege] FOREIGN KEY([PrivilegeId])
REFERENCES [dbo].[CinemaPrivilege] ([PrivilegeId])
GO
ALTER TABLE [dbo].[CinemaRolePrivilege] CHECK CONSTRAINT [FK_CinemaRolePrivilege_CinemaPrivilege]
GO
ALTER TABLE [dbo].[CinemaRolePrivilege]  WITH CHECK ADD  CONSTRAINT [FK_CinemaRolePrivilege_CinemaUserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[CinemaUserRole] ([RoleId])
GO
ALTER TABLE [dbo].[CinemaRolePrivilege] CHECK CONSTRAINT [FK_CinemaRolePrivilege_CinemaUserRole]
GO
ALTER TABLE [dbo].[CinemaUser]  WITH CHECK ADD  CONSTRAINT [FK_CinemaUser_CinemaUserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[CinemaUserRole] ([RoleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CinemaUser] CHECK CONSTRAINT [FK_CinemaUser_CinemaUserRole]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Category]
GO
ALTER TABLE [dbo].[GamePrice]  WITH CHECK ADD  CONSTRAINT [FK_GamePrice_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[GamePrice] CHECK CONSTRAINT [FK_GamePrice_Game]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenry_Genry1] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([GenreId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenry_Genry1]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenry_Movie1] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([MovieId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenry_Movie1]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Game]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Hall] FOREIGN KEY([HallId])
REFERENCES [dbo].[Hall] ([HallId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Hall]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Movie] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([MovieId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Movie]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Session1] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Session1]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Visitor1] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitor] ([VisitorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Visitor1]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [CK_Hall_RowsNumber] CHECK  (([RowsNumber]>=(5) AND [RowsNumber]<=(30)))
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [CK_Hall_RowsNumber]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [CK_Hall_SeatsNumber] CHECK  (([SeatsNumber]>=(5) AND [SeatsNumber]<=(30)))
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [CK_Hall_SeatsNumber]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Row] CHECK  (([Row]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Row]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Seat] CHECK  (([Seat]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Seat]
GO
/****** Object:  Trigger [dbo].[EnforcePriceLimitTrigger]    Script Date: 27.11.2025 15:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[EnforcePriceLimitTrigger]
ON [dbo].[Session]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE S
    SET Price = D.Price + 500
    FROM Session S
    INNER JOIN inserted I ON S.SessionID = I.SessionID 
    INNER JOIN deleted D ON S.SessionID = D.SessionID
    WHERE I.Price > D.Price + 500;

    UPDATE S
    SET Price = D.Price - 500
    FROM Session S
    INNER JOIN inserted I ON S.SessionID = I.SessionID
    INNER JOIN deleted D ON S.SessionID = D.SessionID
    WHERE I.Price < D.Price - 500;
END;
GO
ALTER TABLE [dbo].[Session] ENABLE TRIGGER [EnforcePriceLimitTrigger]
GO
