USE [ispp3114]
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesCount]    Script Date: 27.11.2025 11:46:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesCount]
(
    @categoryId int
)
RETURNS INT
AS
BEGIN
    DECLARE @count INT
    SELECT @count = COUNT(*)
	FROM Game
	WHERE CategoryId = @categoryId;
	RETURN @count
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetPointsByUserId]    Script Date: 27.11.2025 11:46:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetPointsByUserId]
(
	@visitorId INT
)
RETURNS INT
AS
BEGIN
	DECLARE @totalMinutes INT;

	SELECT @totalMinutes = SUM(Movie.Duration)
	FROM Ticket
	INNER JOIN [Session] ON Ticket.SessionId = [Session].SessionId
	INNER JOIN Movie ON [Session].MovieId = Movie.MovieId
	WHERE Ticket.VisitorId = @visitorId;

	RETURN ISNULL(@totalMinutes, 0)
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesByPices]    Script Date: 27.11.2025 11:46:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesByPices]
(
   @min decimal(16,2),
   @max decimal(16,2)
)
RETURNS TABLE AS RETURN
(
    SELECT *
	FROM Game
	Where Price <= @max AND Price >= @min
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesByPrice2]    Script Date: 27.11.2025 11:46:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesByPrice2]
(
    @maxPrice int = 1000
)
RETURNS TABLE AS RETURN
(
    SELECT *
	FROM Game
	Where Price < @maxPrice
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetMovieByGenre]    Script Date: 27.11.2025 11:46:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetMovieByGenre]
(
    @name nvarchar(50)
)
RETURNS TABLE AS RETURN
(
    SELECT 
        Movie.MovieId,
        Movie.[Name],
        STRING_AGG(Genre.[Name], ', ') AS Genres
    FROM Movie
		INNER JOIN MovieGenre ON Movie.MovieId = MovieGenre.MovieId
		INNER JOIN Genre ON MovieGenre.GenreId = Genre.GenreId
    GROUP BY Movie.MovieId, Movie.[Name]
	HAVING CHARINDEX(@name, STRING_AGG(Genre.[Name], ', ')) > 0
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetSessionsByMovieId]    Script Date: 27.11.2025 11:46:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetSessionsByMovieId](@MovieId INT)
    RETURNS TABLE
AS
    RETURN(
    SELECT s.*
    FROM [Session] s
    JOIN Movie m ON s.MovieId = m.MovieId
    WHERE s.MovieId = @MovieId);
GO
