USE [ispp3114]
GO
/****** Object:  StoredProcedure [dbo].[AddCategory]    Script Date: 27.11.2025 11:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCategory]
    @name nvarchar(100),
    @id int OUTPUT  
AS
BEGIN
	INSERT INTO Category([name]) VALUES(@name);
	SET @id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[CreateHall]    Script Date: 27.11.2025 11:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateHall]
    @hallNumber tinyint,
	@rowsNumber tinyint,
	@seatsNumber tinyint,
	@cinema nvarchar(50) = 'Титан-арена'
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS
	(
		SELECT Cinema, HallNumber
		FROM Hall
		WHERE Cinema = @cinema AND HallNumber = @hallNumber
	)
	BEGIN
		UPDATE Hall
		SET RowsNumber = @rowsNumber,
		SeatsNumber = @seatsNumber
		WHERE Cinema = @cinema AND HallNumber = @hallNumber;
	END
	ELSE
	BEGIN
		INSERT INTO Hall (Cinema, HallNumber, RowsNumber, SeatsNumber)
		VALUES (@cinema, @hallNumber, @rowsNumber, @seatsNumber);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[CreateTicket]    Script Date: 27.11.2025 11:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateTicket]
    @phone char(11),
    @sessionId int,
	@row tinyint,
	@seat tinyint,
	@ticketId int OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO Ticket (VisitorId, SessionId, [Row], Seat)
	SELECT VisitorId, @sessionId, @row, @seat
	FROM Visitor
	WHERE Phone = @phone;
	SET @ticketId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[CreateVisitor]    Script Date: 27.11.2025 11:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateVisitor]
    @Phone NVARCHAR(11),
    @VisitorId INT OUTPUT
AS
    INSERT INTO Visitor (Phone)
        VALUES (@Phone)
        SET @VisitorId = SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[GetGamesByPrice]    Script Date: 27.11.2025 11:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetGamesByPrice]
    @maxPrice decimal(16,2)
AS
    SELECT *
	FROM Game
	WHERE Price <=@maxPrice
GO
/****** Object:  StoredProcedure [dbo].[GetVisitorTicketsByPhone]    Script Date: 27.11.2025 11:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVisitorTicketsByPhone]
    @PhoneNumber NVARCHAR(11)
AS
    SELECT t.*
    FROM Ticket t
    JOIN Visitor v ON t.VisitorId = v.VisitorId
    WHERE v.Phone = @PhoneNumber;
GO
