USE [ispp3114]
GO
/****** Object:  Table [dbo].[CinemaPrivilege]    Script Date: 17.11.2025 12:46:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaPrivilege](
	[PrivilegeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_CinemaPrivilege] PRIMARY KEY CLUSTERED 
(
	[PrivilegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaRolePrivilege]    Script Date: 17.11.2025 12:46:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaRolePrivilege](
	[PrivilegeId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_CinemaRolePrivilege] PRIMARY KEY CLUSTERED 
(
	[PrivilegeId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaUser]    Script Date: 17.11.2025 12:46:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[HashPassword] [nvarchar](200) NOT NULL,
	[FailedLoginAttempts] [smallint] NOT NULL,
	[LockedUntil] [datetime2](7) NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_CinemaUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaUserRole]    Script Date: 17.11.2025 12:46:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaUserRole](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CinemaUserRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CinemaUser] ADD  CONSTRAINT [DF_CinemaUser_FailedLoginAttempts]  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[CinemaRolePrivilege]  WITH CHECK ADD  CONSTRAINT [FK_CinemaRolePrivilege_CinemaPrivilege] FOREIGN KEY([PrivilegeId])
REFERENCES [dbo].[CinemaPrivilege] ([PrivilegeId])
GO
ALTER TABLE [dbo].[CinemaRolePrivilege] CHECK CONSTRAINT [FK_CinemaRolePrivilege_CinemaPrivilege]
GO
ALTER TABLE [dbo].[CinemaRolePrivilege]  WITH CHECK ADD  CONSTRAINT [FK_CinemaRolePrivilege_CinemaUserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[CinemaUserRole] ([RoleId])
GO
ALTER TABLE [dbo].[CinemaRolePrivilege] CHECK CONSTRAINT [FK_CinemaRolePrivilege_CinemaUserRole]
GO
ALTER TABLE [dbo].[CinemaUser]  WITH CHECK ADD  CONSTRAINT [FK_CinemaUser_CinemaUserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[CinemaUserRole] ([RoleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CinemaUser] CHECK CONSTRAINT [FK_CinemaUser_CinemaUserRole]
GO
