USE [ispp3114]
GO
/****** Object:  StoredProcedure [dbo].[AddCategory]    Script Date: 20.11.2025 11:49:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Addcategory]
    @name nvarchar(100),
    @id int OUTPUT  
AS
BEGIN
	INSERT INTO Category([name]) VALUES(@name);
	SET @id = SCOPE_IDENTITY();
END