USE [ispp3114]
GO
/****** Object:  StoredProcedure [dbo].[Addcategory]    Script Date: 20.11.2025 11:39:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddCategory]
    @name nvarchar(100),
    @id int OUTPUT  
AS
BEGIN
	INSERT INTO Category([name]) VALUES(@name);
	SET @id = SCOPE_IDENTITY();
END

DECLARE @id INT;
EXEC AddCategory 'asdqwe', @id OUTPUT;
SELECT @id